doctype html
html(lang="en-US")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
    block status
    block upload
    block reports
